.friend-name {
    font-size: 19px;
    font-weight: 600;
    margin: 10px 0px 0px 10px;
}

.friend-subtitle {
    margin: 0px 0px 0 10px;
}

.icons {
    margin-top: 22px;
}

.star-icon {
    margin-right: 20px;
    cursor: pointer;
}

.not-favorite {
    color: darkgray;
}