.header {
    color: white;
    background: darkcyan;
    font-size: 20px;
    font-weight: 600;
    padding-top: 17px;
    padding-left: 10px;
}

.input-friend {
    width: 100%;
    height: 37px;
}

.gender-collapse {
    margin: 5px 0px 0px 10px;
}

.collapse {
    background-color: lightgrey !important;
}

input[type=radio] {
    margin-left: 20px;
    margin-right: 5px;
}